/* --------------------- IMPORT --------------------- */

@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,700|Space+Mono:400,700&display=swap");
/* font-family: 'Space Mono', monospace;
font-family: 'DM Sans', sans-serif; */

/* --------------------- DEBUG --------------------- */

[debug],
[debug] * {
  outline: solid 1px blue;
  box-shadow: none;
  filter: none;
}

/* --------------------- GLOBAL RULES --------------------- */

:root {
  --black: #000;
  --linearOrange: rgba(250, 110, 35, 0.5);
  --linearYellow: rgba(255, 200, 50, 0.5);
}

body {
  font-family: "DM Sans", sans-serif;
  /* La 2ème font est chargée si la première ne l'est pas */
  font-size: 1.5rem;
  line-height: 1.5;
  color: var(--black);
}

a {
  color: black;
  text-decoration: none;
}

/* --------------------- NAVIGATION --------------------- */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #faf9f5;
  padding: 1rem 3rem;
  font-family: "Space Mono", monospace;
}

.logo {
  font-weight: 700;
  font-size: 2rem;
  font-family: "DM Sans", sans-serif;
  text-transform: uppercase;
  cursor: pointer;
}

nav {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
}

.menu-items {
  margin-right: 20px;
  font-size: 1.1rem;
}

.cart-item {
  display: flex;
  position: relative;
}

.count {
  display: flex;
  position: absolute;
  top: -0.5rem;
  right: -0.5rem;
  align-items: center;
  justify-content: center;
  background-color: #ffcc33;
  width: 1.5rem;
  height: 1.5rem;
  font-size: 1rem;
  border-radius: 50%;
}

/* --------------------- HERO --------------------- */

.hero {
  height: 50vh;
  background-image: linear-gradient(
      to bottom,
      var(--linearOrange),
      var(--linearYellow)
    ),
    url("https://images.unsplash.com/photo-1499018658500-b21c72d7172b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  font-weight: 700;
  font-size: 5vw;
  line-height: 120%;
  color: white;
}

/* --------------------- COLLECTION --------------------- */

.title {
  background-color: #f87624;
  border-radius: 5px;
}

.collection {
  background-color: green;
  height: 50vh;
}

/* --------------------- RESIZE --------------------- */

@media (max-width: 768px) {
  .container {
    margin: auto;
    /* background-color: red;*/
  }
  nav {
    display: none;
  }
  #burger {
    display: flex;
  }
  .hero-text {
    padding-left: 50px;
  }
}

.products {
  background-color: red;
  height: 50vh;
}

.philosophy {
  background-color: blue;
  height: 50vh;
}
